<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Iberê</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="" src="https://tm.ibxk.com.br/2021/02/09/09142443101162.jpg"/>

    <ion-card-content>
      <ion-card-title><strong>Lenda:</strong> Iberê</ion-card-title>
    </ion-card-content>
    <ion-card-content>
      <ion-card-title><strong>Habilidade:</strong>  Força/Agilidade</ion-card-title>
    </ion-card-content>
    <ion-card-content>
      <ion-card-title><strong>Origem:</strong> O curupira é personagem de uma lenda do folclore brasileiro que surgiu nos povos indígenas e que foi relatada, pela primeira vez, no século XVI. Curupira é um ser mítico do folclore brasileiro conhecido por ser o guardião da floresta e por punir aqueles que entram nela para derrubar árvores ou caçar os animais.

      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
